.clients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $logo;
  border-radius: 4px;

  transition: border-color $animation;

  &:hover,
  &:focus {
    border-color: $accent;
  }
}

.clients__logo {
  width: 106px;
  height: 92px;

  fill: $logo;

  transition: fill $animation;
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: $accent;
}
