.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.adress__wrapper {
  display: flex;
  flex-direction: column;
  width: 231px;
  margin-right: 70px;
}

.footer__contact {
  @include font-style($weight: 500, $size: 16px, $spacing: 0.02em);

  color: $grey;

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.adress__item {
  display: block;
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.adress__link {
  @include font-style($size: 14px, $height: 24px);

  color: $white;

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.social__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 93px;
}

.social__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  width: 145px;
  height: 16px;

  color: $white;

  @include font-style($weight: 700, $size: 14px);

  text-transform: uppercase;
}

.social__link--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color $animation;

  &:hover,
  &:focus {
    background-color: $accent;
    border-radius: 50%;
  }
}

.social__icon--footer {
  width: 20px;
  height: 20px;
  fill: $white;
}

.footer-label {
  display: block;

  margin-bottom: 20px;

  @include font-style($weight: 700, $size: 14px);

  text-transform: uppercase;

  color: $white;
}

.footer-label__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-label__input {
  width: 358px;
  height: 50px;

  @include font-style($height: 20px);

  color: $white;

  padding-left: 16px;
  padding-right: 16px;

  background-color: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border $animation;
}

input::placeholder {
  @include font-style($height: 20px);

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-label__input:hover,
.footer-label__input:focus {
  border: 1px solid $accent;
}

.footer-label__button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 12px;
}

.footer-label__button--icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
