.hero {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 118px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/Hero@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/hero.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/hero@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/desctop/hero.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/desctop/hero@2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include font-style(
    $weight: 900,
    $size: 26px,
    $height: 42px,
    $spacing: 0.06em
  );

  color: $white;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    @include font-style(
      $weight: 900,
      $size: 44px,
      $height: 60px,
      $spacing: 0.06em
    );
    max-width: 696px;
  }
}
