.hero {
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include font-style(
    $weight: 900,
    $size: 44px,
    $height: 60px,
    $spacing: 0.06em
  );

  color: $white;
  text-transform: uppercase;
}
