.section--background {
  background-color: $background;
}

.team {
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  margin-right: 30px;
  background-color: $white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.team__wrapper {
  padding: 30px 0;
}

.team__name {
  margin-bottom: 10px;

  @include font-style($weight: 500, $height: 19px);

  text-align: center;

  color: $black;
}

.team__description {
  margin-bottom: 16px;

  @include font-style($height: 19px);

  text-align: center;

  color: $grey;
}
