.contact {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 21px;
  margin-bottom: 21px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contact__link {
  display: flex;
  align-items: center;

  @include font-style($weight: 500, $size: 14px, $spacing: 0.02em);

  color: $grey;

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.contact__item {
  display: inline-block;
  &:not(last-cild) {
    margin-bottom: 10px;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact:hover .contact__icon,
.contact:focus .contact__icon {
  color: $accent;
  fill: $accent;
}
