.container {
  width: 100%;
  margin: 0px auto;
  padding: 0px 15px;
  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.section__title {
  margin-bottom: 30px;
  // margin-bottom: 50px;

  @include font-style($weight: 700, $size: 36px, $height: 42px);

  text-align: center;
}
