.logo {
  text-align: center;
  margin-bottom: 20px;
  // padding: 16px 0;
  // margin-right: 93px;
  // padding-top: 24px;
  // margin-bottom: 20px;
  // padding-bottom: 25px;

  font-family: Raleway;

  @include font-style($weight: 700, $size: 24px, $height: 28px);

  color: $accent;

  @media screen and (min-width: 1200px) {
    @include font-style($weight: 700, $size: 26px, $height: 31px);
  }
}

.logo--top {
  margin-top: 26px;
  margin-bottom: 26px;
}

.logo--bottom {
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.logo--header {
  color: $black;
}

.logo--footer {
  color: $white;
}
