.logo {
  text-align: center;
  padding: 16px 0;
  // margin-right: 93px;
  // padding-top: 24px;
  // margin-bottom: 20px;
  // padding-bottom: 25px;

  font-family: Raleway;

  @include font-style($weight: 700, $size: 24px, $height: 28px);

  color: $accent;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.logo--header {
  color: $black;
}

.logo--footer {
  color: $white;
}
