.navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
}

.navigation__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  @include font-style($weight: 500, $size: 14px, $spacing: 0.02em);

  color: $black;

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.current {
  color: $accent;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent;
    display: block;
    bottom: -1px;
  }
}
