@mixin font-style($weight: 400, $size: 16px, $height: 16px, $spacing: 0.03em) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height/$size;
  letter-spacing: $spacing;
}

@mixin flex($display: flex, $align-items: center) {
  display: $display;
  align-items: $align-items;
}
